doctype html
html
  head
    title Dephotos React test
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
  body
    #app !{pageContent}
    #router
  script.
    __DATA__ = !{componentData};
  script(type='text/javascript', src='/js/client.js')